@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式 */
body {
  @apply bg-gray-100;
  caret-color: transparent;
}
input {
  caret-color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}